@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --dark: #333;
  --light-gray: #ececec;
  --gray_dark: #696969;
  --gray: #999;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*::before, *::after {
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

p, span {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
}

.container {
  display: flex;
  flex: 1;
}

.page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header-container {
  padding: 25px 0 10px 0;
  text-align: center;
  background-color: var(--dark);
}

.header-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header-title {
  font-size: 1.5rem;
  color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  width: 33.333%;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
}

.card:hover .card__image {
  filter: contrast(100%);
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.image__caito {
  background-image: url('images/caito.jpg');
}

.image__rogerinho {
  background-image: url('images/rogerinho.jpg');
}

.image__minihl {
  background-image: url('images/minihl.jpg');
}

.image__cerginho_sunga {
  background-image: url('images/cerginho-sunga.jpg');
}

.image__falha_bruno_aleixo {
  background-image: url('images/falha_bruno_aleixo.jpg');
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title {
  color: var(--gray-dark);
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.footer {
  padding: 2rem;
  background-color: var(--dark);
  color: #fff;
}